body {
	font-family: 'Montserrat', sans-serif;
}


header {
	background: url(../img/back.jpg) no-repeat top center / cover;
	min-height: 500px;
}

h3 {
	font-weight: bold;
	font-size: 31px;
	color: #002E5B;
	text-transform: uppercase;
}

h6 {
	font-weight: bold;
	color: #002E5B;
	text-transform: uppercase;
}

img {
	padding: 0;margin: 0;
}

.logo{
	line-height: 0;
	margin-top: 30px;
}

.logo__name {
	font-weight: bold;
	color: #FDE428;
	font-size: 45px;
	line-height: 45px;
}

.logo__text {
	font-weight: bold;
	color: #EFF1F2;
	font-size: 12px; 
	letter-spacing: 4px;
}

.menu {
	padding-top: 15px;
	font-size: 13px;
	letter-spacing: 1px;
	margin-top: 20px;
	color: #EFF1F2;
}

.menu-icon {
	cursor: pointer;
	width: 68px;
	display: none;
}

.menu-icon__item {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: 2px 0;
}

.nav__list-item {
	color: #EFF1F2;
	margin-right: 10px;
	transition: all 0.4s;
}

.nav__list-item:hover {
	color: #A8AAAB;
	text-decoration: none;
}

.slider-nav {
	color: #FDE428;
	padding-top: 30vh;
	font-size: 12.5px;
	font-family: Myriad Pro, sans-serif;
	letter-spacing: 1px;
}

.slider-nav__item {
	color: #FDE428;
	transition: all 0.4s;
}

.slider-nav__item:hover {
	text-decoration: none;
	color: #827516;
}

.slider-nav i {
	margin: 0 5px;
}

.text__name {
	color: #EFF1F2;
	font-size: 51px;
	font-weight: bold;
	line-height: 1.1;
	margin-top: 15vh;
}

.link__text {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;

}

.link__text__a{
	color: #FDE428;
	border-bottom: 2px solid #FDE428;
	margin-top: 14px;
	font-weight: bold;
	transition: all 0.5s;
}

.link__text__a:hover {
	color: #827516;
	text-decoration: none;
	border-bottom: 2px solid #827516;
}

.header-row {
	padding-bottom: 285px;
}


/*=======================Risk=======================*/
.risk {
	padding-top: 100px;
}

.risk__head{
	font-weight: bold;
	font-size: 31px;
	color: #002E5B;
}

.risk__cite {
	font-size: 18px;
	color:#666666;
}

.risk__text{
	font-size: 15px;
	color: #333333;
}

.risk__link {
	color: #002E5B;
	border-bottom: 2px solid #002E5B;

}

.risk__link:hover {
	color: #4B75A2;
	border-bottom: 2px solid #4B75A2;
}

.risk-img {
	background: url(../img/yellow.jpg) no-repeat 54% top;
	padding-top: 100px;
	padding-bottom: 100px;
}


/* ============================Rise============ */
.rise {
	background-color: #f4f4f4;padding-top: 100px;padding-bottom: 100px;
}
.graph__img {
	width: 100%;
}


/*contact-link*/

.contact-link{
	background-color: #002E5B;
	padding: 20px 0;
}

.contact-link__head{
	color: #fff;
	font-size: 21px;
	padding-top: 5px;
}

.contact-link__btn{
	color: #002E5B;
	background-color: #FDE52C;
	padding: 7px 12px;
	border-radius: 5px;
	font-weight: bold;
	text-decoration: none;
}

.contact-link__btn:hover {
	text-decoration: none;

}

/*services*/
.services {
	padding: 100px 0;
}

.services__item {
	width: 365px;
}

.services__item_img {
 width: 100%;
}

.services__name{
	font-weight: bold;
	font-size: 21px;
	margin: 30px 0;
	text-transform: uppercase;
}
.services__text {
	font-size: 14px;
	width: 100%;
	
}

/*STAT*/
.stat {
padding: 130px 0;
}

.stat__number {
	color: #fff;
	font-size: 48px;
	letter-spacing: 0.2em;
}

.stat__name {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	letter-spacing: 0.05em;
}
/*advantage*/
.about-advantage {
	padding-top: 97px;
	padding-bottom: 96px;
}

.advantage-video__item {
	background: url(../img/yellow.jpg) no-repeat center top;
	padding-top: 100px;
	padding-bottom: 100px;
}

/*section-quote*/
.section-quote{
	padding: 100px 0;
	color: #fff;
	background-color: #002E5B;
	text-align: center;
	width: 100%;
}

.quote {
	max-width: 905px;
	height: 290px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 150px;
}



.quote__text {
	line-height: 2em;
}

.quote__author {
	text-transform: uppercase;
	position: relative;
}

.quote__author span {
	position: relative;
}

.quote__author span:after {
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	height: 2px;
	background-color: #fff;
	left: 117px;
	top: 8px;
}

.quote__author span:before {
	content: '';
	display: block;
	position: absolute;
	width: 20px;
	height: 2px;
	background-color: #fff;
    right: 117px;
    top: 8px;
}

.quote i {
	font-size: 24px;
}

/*contact*/
.contact {
	padding: 100px 0;
}

.contact-lacation__offices {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.contact-lacation__offices_item {

}

.map__heading {
	font-size: 16px;
	margin-bottom: 25px;
}

.maps__coords {
	font-size: 16px;
	color: #002E5B;
 }

.map-wrap {
	padding-top: 45px;
	padding-left: 40px;
	padding-bottom: 45px;
	-webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.15);
	-moz-box-shadow:    0px 4px 10px 0px rgba(50, 50, 50, 0.15);
	box-shadow:         0px 4px 10px 0px rgba(50, 50, 50, 0.15);
	width: 93%;
}

.contact-lacation__offices_item i {
	margin-right: 25px;
}

.contact-lacation__offices_item span {
	margin-left: 42px;
}

.phone i {
	margin-left: 2px;
}

.map__image {
	width: 93%;
}

/*footer*/
.footer {
	padding: 30px 0;
	background-color: #002E5B;
	font-size: 15.5px;
	color: #fff;
}

.footer__link {
	color: #FDE52C;
}
.footer__link:hover {
	color: #827516;
}

.footer-nav-menu__item a {
	color: #fff;
}

.footer-nav-menu__item a:hover {
	color: #BDBFC0;
}

/*media queries*/

@media/* screen and*/ (max-width: 1199.98px) {
	body {
		overflow-x: hidden;
	}
	.risk-img__image {
		width: 100%
	}
	.services__item {
		width: 280px;
	}
	.advantage-video__item {
		width: 100%;
	}

	.quote {
		padding-left: 0;
	}

}

@media (max-width: 991.98px) {
	.logo {
		text-align: center;
	}
	.menu {
		text-align: center;
	}
	.risk {
	text-align: center;
    max-width: 650px;
    padding-left: 50px;
	}
	.risk-img {
		background: #fff;
	}
	.risk-img__image {
    width: 87%;
	}
	.graph {
		text-align: center;
	}
	.graph__img {
		width: 50%;
	}
	.rise-article {
		text-align: center;
		padding: 5%;
		padding-bottom: 0;
	}
	.contact-link__head {
		font-size: 20px;
	}
	.services__item {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		margin-top: 40px;
	}
	.services__item_img {
    	width: 70%;
	}
	.advantage-video{
		text-align: center;
	}
	.advantage-video__item {
		background: #fff;
		width: 80%;
	}
	.about-advantage {
		padding-top: 0;
		text-align: center;
		width: 90%;
		margin: 0 auto;
	}
	.contact-lacation__offices {
		flex-wrap: wrap;
	}
	.contact-lacation__offices_item {
    width: 340px;
	}
	.contact-lacation__offices_item_london-office {
		margin: 50px auto 0;
	}

}

@media (max-width: 767.98px) {
	.menu {
		font-size: 11px;
	}
	.list-inline-item:not(:last-child) {
    margin-right: 0.3rem;
	}
	.header-row {
		flex-direction: column-reverse;
	}
	.slider-nav {
		padding-top: 20px;
	}
	.risk {
		max-width: 464px;
	}
	h3 {
		font-size: 27px !important; 
	}
	.risk-img__image {
		width: 100%;
	}
	.risk-img {
		padding-top: 50px;
	}
	.risk__text {
    font-size: 14px;
	}
	.contact-wrap {
		flex-direction: column;
	}
	.contact-link__btn {
	    width: fit-content;
	    margin: 0 auto;
	}
	.stat__item_last-child {
		margin: 0 auto;
	}
	.contact-lacation__offices_item {
		margin: 30px auto;
	}
	.contact-lacation__offices_item_london-office {
		margin-bottom: 0;
	}
}

@media (max-width: 575.98px) {
	.menu-icon {
		display: block;
		margin: 50px auto;
		padding-left: 20px;
	}
	.menu {
		display: none;
	}

	.header-title {
		text-align: right;
	}
	.slider-nav {
		margin-left: 30px;
		padding: 50px 0;	
	}
	.header-row { 
		padding-bottom: 0;
	}
	.risk {
		max-width: 100%;
		padding: 50px;
	}
	.risk-img__image {
		width: 80%;
		margin: 0 auto;
		height: auto
	}
	.risk-img {
		padding: 0 0 40px;
	}

	.stat {
		padding: 50px 0;
	}
	.stat-wrap {
		flex-direction: column;
		align-items: center;
		height: 600px;
	}
	.quote {
		padding: 0 10px;
	}
	.footer {
		text-align: center;
	}

}
@media (max-width: 540px) {
	.nav__list {
		display: flex;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		justify-content: space-between;
		height: 200px
	} 
	.menu {
		font-size: 17px;
	}

	.header-title {
		text-align: center;
		margin-top: -70px;
	}
	h3 {
		font-size: 18px !important;
	}
	.risk__cite {
    	font-size: 15px;
	}
	.risk {
    	max-width: 100%;
    	padding: 30px;
    }

    .rise {
    	padding-top: 50px;
    	padding-bottom: 50px;
    }
    .risk__text {
    	font-size: 13px;
	}
	.contact-link__head {
    	font-size: 18px;
    	padding: 20px;
	}
	.services__item_img {
    	width: 85%;
	}
	.services__text {
    	width: 83%;
 		margin: 0 auto;
	}
	.services__name {
		width: 90%;
		margin: 20px auto;	
	}
	.advantage-video__item {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.about-advantage {
		padding-bottom: 50px;
	}
	.section-quote {
		padding: 50px 0;
	}
	.quote {
		height: 100%;
	}
	.quote__text {
		margin: 19px 0;
	}

}